@font-face {
  font-family: "iconfont"; /* Project id 2972460 */
  src: url('iconfont.woff2?t=1638160715569') format('woff2'),
       url('iconfont.woff?t=1638160715569') format('woff'),
       url('iconfont.ttf?t=1638160715569') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingdongicon-:before {
  content: "\e63e";
}

.icon-mail_163:before {
  content: "\e616";
}

.icon-temai:before {
  content: "\e675";
}

.icon-weixin:before {
  content: "\e666";
}

